doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Farmer One list
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', media='screen', href='css/main.css')
  script(src='main.js')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='css/table.css')
  link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
  link(rel='stylesheet', href='css/table.css')
  link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
#nav-tab.nav.nav-tabs(role='tablist')
// navbar
nav.navbar.navbar-expand-lg.bg-green.navcolor(;='')
  .container-fluid
    a.navbar-brand(href='#') UFARM
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page', href='#') Home
        li.nav-item
          a.nav-link(href='#') Pricing
    .dropdown.pb-4
        img.rounded-circle.navimage(src='https://github.com/mdo.png', alt='hugenerd', width='40', height='40')
        span.d-none.d-sm-inline.mx-1 Agr Officer
body(style='background-color:#fafefa;')
#page-wrap
  h1 Urban Farmers List
  div
    form(method="GET" action='/registeruf')
          button.btn.btn-secondary.btn-block(type='submit') Add New Urban Farmer
  table.container(style='background-color:#e3f8e6f5;')
    tr
        th Names
        th Ward
        th Phone Number
        th Adress
        th activity
        th Changes
    tbody 
        if urbanfarmers.length
            each urbanfarmer in urbanfarmers
                    tr.tds 
                        td #{urbanfarmer.names}
                        td #{urbanfarmer.ward}
                        td #{urbanfarmer.phone}
                        td #{urbanfarmer.address}
                        td #{urbanfarmer.activity}
                        td
                            a.btn.btn-success.btn-block(href='/Urbanfarmer/update/'+urbanfarmer._id) Update
        div.form-row
            div.col.form-group
                a(class='button' href='/dashboardfo') Back

block footer
    div.col-md-12 ©️ 2022 UFARM Masajja Tukolerewamu Incorporated
