doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Approved list
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', media='screen', href='css/main.css')
  script(src='main.js')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='css/table.css')
  link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
#nav-tab.nav.nav-tabs(role='tablist')
// navbar
nav.navbar.navbar-expand-lg.bg-green.navcolor(;='')
  .container-fluid
    a.navbar-brand(href='#') UFARM
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(aria-current='page', href='#') Home
        li.nav-item
          a.nav-link(href='#') Pricing
    .dropdown.pb-4
      
        img.rounded-circle.navimage(src='https://github.com/mdo.png', alt='hugenerd', width='40', height='40')
        span.d-none.d-sm-inline.mx-1 Agr Officer
body(style='background-color:#fafefa;')
    table.table.table-bordered 
        thead
            tr
                th Product Category 
                th Product Name
                th Product Type
                th Product Image
                th Update
                th Change Availability
                th Delete
        tbody
            if goods.length
                each item in goods
                    if item.availability == "booked"
                        tr
                            td #{item.productcategory}
                            td #{item.productname}
                            td #{item.producttype}
                            td 
                                img(src="/"+item.productimage, alt="Image" width='150px' height="150px") 
                            //- td #{moment(us
                            td
                                a.btn.btn-secondary.btn-block(href='/produce/available/'+item._id) Availability
                            td
                                form(method="post" action='/produce/delete')
                                    input(type="hidden" placeholder="" name="id", value=item._id)
        div.form-row
            div.col.form-group
                a(class='button' href='/agricOfficerDash') Back

block footer
    div.col-md-12 ©️ 2022 UFARM Masajja Tukolerewamu Incorporated
